.doc-cards{
    height: 175vh;
    padding: 15rem 0 2rem 0;
    .flex{
        align-items: flex-start;
        gap: 5rem;
    }
    li{
        font-size: 1.5rem;
        cursor: pointer;
        color: grey;
        &:hover{
            transform: scaleX(1);
        }
    }
    .left-card{
        flex: 2;
        min-height: 60vh;
        padding: 5rem 2rem;
        background: #f4f4f4;
        h2{
            font-size: 2rem;
            margin: 1.5rem 0;
        }
        li{
            border-bottom: 1px solid;
            padding: .5rem 0;
        }
    }

    .right-card{
        min-height: 120vh;
        flex: 5;
        padding:2rem;
        color: grey;
        h2{
            font-size: 2.5rem;
            margin: 1rem 0;
        }
        h3{
            font-size: 1.8rem;
            color: black;
            margin: 2rem 0;
        }
        p{
            font-size: 1.5rem;
        }
        .green-info{
            background: #5cb85c;
            padding:1rem 2rem;
            text-align: center;
            align-items: center;
            justify-content: flex-start;
            margin: 2rem 0;
            color: white;
            i{
                font-size: 2rem;
            }
            p{
                margin-left: -3rem;
            }
        }
        .black-info{
            background: #333333;
            margin: 1rem 0;
            padding:1rem 2rem;
        }
        .install-button{
            color: white;
            background: #047aed;
            margin: 2rem 0;
        }
    }
}

@media only screen and (max-width: 600px){
    .doc-cards{
        min-height: 255vh;
        .flex{
            flex-direction: column;
            align-items: center;
            .left-card{
                width: 100%;
            }
        }
    }
}